* {
  margin: 0px;
  padding: 0px;
}

nav {

  .navBox-1{

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin-left: 15rem;
    

    img{
      padding: 10px;
      margin-right: 40px;

      
      
    }

    .I-2-box{

      height: 50px;
      border: 2px solid grey;
    width: 400px;

      input{
        
        
        border-radius: 5px;
         border: none;
         
         margin-top: 10px;
         margin-left: 40px;
  font-size: 20px;
  outline: none;
  

    }

i{
  margin-left: 30px;
  font-size: 20px;
  padding-left: 30px;
  margin-left: 30px;
}

input, i{

  padding: 0;
  margin-left: 30px;
}

    
     
 
    }

    #Dark-logo {
      width: 9rem;
      height: auto;
      cursor: pointer;
      
    }

    .cart-box{
      display: flex;
      
    flex-direction: row;
    padding: 30px;
    gap: 40px;
    margin-left: 40px;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
    
    

    button {
      background-color: #87237e;
      color: #fff;
      border: none;
      box-shadow: 0 2px 8px rgba(32, 32, 32, 0.3);
      height: 40px;
      width: 80px;
      text-align: center;
      border-radius: 8px;
      font-size: 20px;
      
    }

    }
  }
  .product-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-content: space-between;

    span{
      font-size: 20px;
      font-family: "Gill Sans", sans-serif;
    }

  }

  }

  section{
    h1{
      text-align: center;
      padding: 70px;
      font-size: 40px;
      font-family: "Gill Sans", sans-serif;
      font-weight: 500;
      margin-top: 10px;
      color: #87237e;
    }
  }


.projects-container{

display: flex;
align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;



  .cards {
    
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    margin: 40px;
    box-shadow: #87237e 0px 3px 8px;
  
    .image {
      img {
        width: 100%;
        object-fit: contain;
        object-position: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 400px;
      }
    }
  
    .title {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
    }
  
    .des {
      text-align: center;
      padding: 4px;
      font-family: Arial, Helvetica, sans-serif;
  
      button {
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        background-color: #87237e;
        padding: 8px;
        cursor: pointer;
        border-radius: 3px;
        border: none;
        font-size: 15px;
        color: #fff;
        margin: 10px;
        box-shadow: 0 2px 8px rgba(32, 32, 32, 0.3);
        font-family: Arial, Helvetica, sans-serif;
  
        
      }
    }
  }
  
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1900px;
  column-gap: 100px;
  padding: 30px;
  margin-top: 9rem;
  font-size: 20px;
  background-color: rgb(248, 248, 255);
  font-family: Arial, Helvetica, sans-serif;

  h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
  }

  h6{
    font-size: 23px;
    font-weight: 600;
  }
  
}
