* {
  margin: 0px;
  padding: 0px;
}

.COD-box {
  display: flex;
  flex-direction: column;

  height: 300px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 2px 8px #87237e;

  h1 {
    font-weight: 700;
    font-size: 2rem;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    // padding-top: 50px;
  }
  padding-top: 3em;
  margin-top: 1rem;
  margin-left: 26.5rem;
  padding-bottom: 30px;
  margin-top: 90px;

  h3 {
    text-align: center;
    padding-top: 2rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.795);
  }

  h5 {
    text-align: left;
    margin-left: 3rem;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.795);
  }

  label {
    text-align: left;
    margin-left: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.466);
  }

  label,
  input {
    margin-top: 10px;
  }

  button {
    background-color: #87237e;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    margin-left: 20rem;
    border: none;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 2px 8px rgba(32, 32, 32, 0.3);
    margin-top: 20px;
  }
}
