.container{

    height: 340px;
    width: 600px;
    margin-top: 18rem;
margin-left: 38.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px #87237e;

    h1{
        color: #87237e;
        font-size: 3rem;
        text-align: center;
        padding-top: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2{
        color: #87237e;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.568);
    }
    button {
        margin-left: 22rem;
        margin-top: 2rem;
        border: none;
        outline: none;
        background-color: #80808066;
        padding: 10px;
font-size: 18px;
        cursor: pointer;
        border-radius: 3px;
        color: #fff;
        background-color: #87237e;
        font-family: Arial, Helvetica, sans-serif;
      }
}


